<!DOCTYPE html>
<html class="has-navbar-fixed-top has-background-dark">
  <head>
    <title>Spotcode</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="manifest" href="/manifest.json" />
<meta name="apple-mobile-web-app-capable" content="yes"></head>

  <body class="has-background-dark">
    <%= render "shared/menu" %>
    <%= yield %>
    <audio id="song-player" src="#"></audio>
    <%= render "shared/toolbar" %>
  </body>
</html>